@import "tailwindcss";

@theme inline {
    --color-accent-1: var(--accent-1);
    --color-accent-2: var(--accent-2);
    --color-accent-3: var(--accent-3);
    --color-accent-4: var(--accent-4);
    --color-accent-5: var(--accent-5);
    --color-accent-6: var(--accent-6);
    --color-accent-7: var(--accent-7);
    --color-accent-8: var(--accent-8);
    --color-accent-9: var(--accent-9);
    --color-accent-10: var(--accent-10);
    --color-accent-11: var(--accent-11);
    --color-accent-12: var(--accent-12);
    --color-accent-a1: var(--accent-a1);
    --color-accent-a2: var(--accent-a2);
    --color-accent-a3: var(--accent-a3);
    --color-accent-a4: var(--accent-a4);
    --color-accent-a5: var(--accent-a5);
    --color-accent-a6: var(--accent-a6);
    --color-accent-a7: var(--accent-a7);
    --color-accent-a8: var(--accent-a8);
    --color-accent-a9: var(--accent-a9);
    --color-accent-a10: var(--accent-a10);
    --color-accent-a11: var(--accent-a11);
    --color-accent-a12: var(--accent-a12);
}